.cabecalho__atualizar {
    /* espacamento */
    margin: 10px;
    /* absolute */
    position: absolute;
    right: 0;
    /* font */
    color: rgb(245, 245, 245);
    /* cursor */
    cursor: pointer;
    /* transition */
    transition: transform 100ms ease-in-out;
 }
 .cabecalho__atualizar:active {
    transform: rotate(360deg);
 }