.cabecalho__titulo {
    /* espacamento */
    padding: 2px 5px;
    /* absolute */
    position: absolute;
    bottom: 0;
    /* background */
    background-color: rgba(255,255,255,0.4);
    background: linear-gradient(90deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%);
    /* font */
    color: rgb(245, 245, 245);
    font-size: 1.1rem;
}